<ul id="articleList" class="articleList">
    <ng-container>
      <li app-list-item *ngFor="let articleItem of articleList; index as itemIndex"
          [articleItem]="articleItem" [index]="itemIndex" (expandToggle)="expandToggle($event)">
      </li>
    </ng-container>
    <div *ngIf="isLoading">Loading</div>
</ul>

<!--<p-scrollPanel styleClass="articleList">-->
  <!--<ng-container>-->
    <!--<li app-list-item *ngFor="let articleItem of articleList; index as itemIndex"-->
        <!--[articleItem]="articleItem" [index]="itemIndex" (expandToggle)="expandToggle($event)">-->
    <!--</li>-->
  <!--</ng-container>-->
  <!--<div *ngIf="isLoading">Loading</div>-->
<!--</p-scrollPanel>-->
