.header {
  position: fixed;
  background: #ffffff;
  z-index: 9;
  width: 100%;
  padding: .75rem 0;
  border: 1px solid #dddddd;
  border-left: none;
  border-right: none;

  .container {
    margin: auto;
    max-width: 800px;

    .head-left {
      flex: 1;
      font-size: 1.25rem;
    }

    .head-menu {

      .user-icon {
        font-size: 1.25rem;
        margin-right: .15rem;
        margin-left: 1rem;
      }

      .navigate {
        margin-left: .75rem;
        display: inline-block;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.action-icon {
  cursor: pointer;
  &:hover {
    color: #50835f;
  }
}

.dropdown {
  &:not(.active) {
    .dropdown-menu {
      display: none;
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: -.2rem;
  width: 8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: .25rem;
  list-style: none;
  z-index: 99;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27,31,35,0.15);
  border-radius: 4px;
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);

 .dropdown-item {
   display: block;
   padding: 4px 10px 4px 15px;
   overflow: hidden;
   color: #24292e;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
  .action-item {
    cursor: pointer;
    &:hover {
      color: white;
      background: #2399e5;
    }
  }

  .dropdown-divider {
    height: 1px;
    margin: 4px 1px;
    background-color: #e1e4e8;
  }

  &:before {
    position: absolute;
    display: inline-block;
    content: "";
    top: -16px;
    right: 9px;
    left: auto;
    border: 8px solid transparent;
    border-bottom-color: rgba(27,31,35,0.15);
  }

  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    top: -14px;
    right: 10px;
    left: auto;
    border: 7px solid transparent;
    border-bottom-color: #fff;
  }
}
