<i class="fa fa-arrow-circle-left back" aria-hidden="true" (click)="goBack()"></i>
<i class="fa fa-home back" aria-hidden="true" (click)="goHome()"></i>

<div class='register-page'>

  <form [formGroup]='registerForm'>
    <div class='ui-float-label input'>
      <input formControlName='username' id='username' type='text' pInputText pTooltip="/^[\u4e00-\u9fa5\w\d]{2,12}$/" tooltipPosition="top" tooltipEvent="focus">
      <label for='username'>username</label>
    </div>

    <div class='ui-float-label input'>
      <input formControlName='password' id='password' type='password' pInputText pTooltip="/^[\w\d!@#$%^&*]{8,30}$/" tooltipPosition="top" tooltipEvent="focus">
      <label for='password'>password</label>
    </div>

    <div class='ui-float-label input'>
      <input formControlName='inviteCode' id='inviteCode' type='text' pInputText>
      <label for='inviteCode'>inviteCode</label>
    </div>

    <button class="input submit" pButton type="button" label="Sign Up" (click)="register()" [disabled]="!registerForm.valid"></button>

    <a class="go-login" (click)="goLogin()">already have an account.</a>
  </form>

</div>
