<i class="fa fa-arrow-circle-left back" aria-hidden="true" (click)="goBack()"></i>

<div class='login-page'>

  <form [formGroup]='loginForm'>

    <div class='ui-float-label input'>
      <input formControlName='username' id='username' type='text' pInputText pTooltip="Enter your username" tooltipPosition="top" tooltipEvent="focus">
      <label for='username'>username</label>
    </div>

    <div class='ui-float-label input'>
      <input formControlName='password' id='password' type='password' pInputText pTooltip="Enter your password" tooltipPosition="top" tooltipEvent="focus">
      <label for='password'>password</label>
    </div>

    <button class="input submit" pButton type="button" label="Sign In" (click)="login()" [disabled]="!loginForm.valid"></button>

    <a class="go-register" (click)="goRegister()">create an account.</a>
  </form>

</div>
