.edit-page {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  min-height: 25rem;
}

.title {
  margin-bottom: 1rem;
  justify-content: space-between;

  .input {
    padding-right: 1rem;
    //min-width: 20rem;
    //flex: 1;
  }
}

.editor {
  flex: 1;
}

.submit-button {
  position: absolute;
  right: 0;
  bottom: 2rem;
}
