<div class="edit-page">

  <div class="title flex-align">
    <input class="input ui-g-9" type="text" pInputText [(ngModel)]="title" placeholder="Title Place"/>
    <p-dropdown [options]="classifyInfo"  editable="true" autoDisplayFirst="true"
                [(ngModel)]="classification" [style]="{'width': '10rem'}"
                optionLabel="_id" [filter]="true"
                pTooltip="选择分类,可直接修改" tooltipPosition="top" tooltipEvent="hover"
    ></p-dropdown>
  </div>

  <textarea #editor></textarea>

  <button class="submit-button" pButton type="button" label="Submit" (click)="submit()"></button>

</div>
